-----BEGIN CERTIFICATE-----
MIIEKTCCApGgAwIBAgIUa52l/b0OzMcrI06Lsaf1cPpSHDwwDQYJKoZIhvcNAQEL
BQAwKDEmMCQGA1UEAxMdcGFzc3dvcmQtZGV2Lml0cy5jYXJsZXRvbi5lZHUwHhcN
MjIwODI1MjI1MDQyWhcNMzIwODIyMjI1MDQyWjAoMSYwJAYDVQQDEx1wYXNzd29y
ZC1kZXYuaXRzLmNhcmxldG9uLmVkdTCCAaIwDQYJKoZIhvcNAQEBBQADggGPADCC
AYoCggGBAPkoeim91GtiYNFjj0ZhvMSs14bv+itQinJWnN3BPwTpUginHetFg4sH
1tYGPGVuc6j0ugne9tNkx8v3Z0Yp6l2xPl4L+DJp5aeveZvako+2Nqd5DQHg3QUf
bktwlnLCt6X9A3Ox+8bbQFpXdIkkgx5YmJcZNmPBMnZwd3LHRd4T0QzbIDWmGSws
eSsHs61F8ztJvazmg0VjKFDi7FzgMsc105iSZrV7cUgabN3nlzqk+R0dl/4U1diw
OQ8KpmDo85PlQkojHbYSJhJK9/LVnWsjmvC8CpFQ4XIgDqADJRWtwJoPYbmlVxa0
4O80A9ohVlQ0QPernq5SZmI+4mMwvQ27wy2AsgQe6njZRv5Rv030fWzUyrAkF8S7
iVNGQXozjAioaGRXHwgZZX5wJMFSaEM0DdzDFhFD94rQz1U8XIIq1DiJn68zgi0r
szKrQmz2JVIlz0Cqz/CfDGjLce0A8mMOi5z8fJwNjMYDIVGzEAa2nFuZ7P8ZLUlL
xczeaazPkQIDAQABo0swSTAoBgNVHREEITAfgh1wYXNzd29yZC1kZXYuaXRzLmNh
cmxldG9uLmVkdTAdBgNVHQ4EFgQU3kBX+LvPJRDHobJdh+C5z/4TqY0wDQYJKoZI
hvcNAQELBQADggGBAHVfMyLowClvvto5dktZBaBvf3QjchNHBLydnHHFRzX9fgUh
j2A7m0W91nP4gZdhWzb73cH9H1qm1GMZSpgX1H96VrXevyWq3+x4tyhibhAkpMYx
giT8I2TRrDwnRVHOH7pffrtn6KQLiMwkMgh2hCDAGFzfFYhdTuAR2vqXMFsBrM4x
MfQm0FQVKEoEUTIev0PVo8rCY65V2W/5PWm3M6MMDxr4l1Jxkr3NyXKb/X6Gw6zJ
gjMRREEVeou2hbAjqscAB7yRhV9lXvRqwBlSqRkIkhxFTMCE2b9f4BFzDPLnIkBs
TBZR4K6ZlTE38aednaHsReS+U+nIBHzjd7i60VyYwyMdT3zAdme/YaZkD1E3Rff2
CrYWVqUsgDCKsps5puH/E2RB8Jcl94tF7ujPwx5IJpbOHEvEf+M1ZFaxTojV9PwI
ISCFVrfQ4BOQHKNmR3pn4yYong72HcXhsT7JVLT4ZLMNPIUIoRcVFWpWlk/u8erz
DnLlIqnjHXgeWgA86A==
-----END CERTIFICATE-----
