-----BEGIN CERTIFICATE-----
MIIEKTCCApGgAwIBAgIUF9pQK8fecG6P8YwX3RDpXvNzVTswDQYJKoZIhvcNAQEL
BQAwKDEmMCQGA1UEAxMdcGFzc3dvcmQtZGV2Lml0cy5jYXJsZXRvbi5lZHUwHhcN
MjIwODI1MjI1MzI3WhcNMzIwODIyMjI1MzI3WjAoMSYwJAYDVQQDEx1wYXNzd29y
ZC1kZXYuaXRzLmNhcmxldG9uLmVkdTCCAaIwDQYJKoZIhvcNAQEBBQADggGPADCC
AYoCggGBALeVGoX/JifIR8ZQq9C18quddb7OwVeDYO8EsBPoHNMbnAo8Swp7Awu6
EVA1Ho+gGLJ634omLGIOMQRwfYe554i0vVwQ76dHCa+xqDv1HAkC3YElhTf25GBD
dmCPgOh2oahaYQ4eHRVwlXzbGw/29ODkTkfzjcRR0WdWuZvH00M92MmzVvjbJY7Y
U0uZ5wTue/M05/gtgT1tdvtlI11LMPYFdXkbnBZHc+XGvhhwUnajE2ivzjgkxODG
HVX7Br9l+wtyrebisWnUTlpmxEfwi9AU5Ajhg1ONfSQK+3GXdKd5TDBDYlHqJ41N
HLGEN9pLSERcGdbidNk3gGOh7TerQ6qWg9EucUepLaqXQS4eajyDLbsB2/G1fi90
1+RGROg2JkK7/Zd1f2At5KtOzCQuqJ2WnLMkFtFuZbtAokebb9gxbO6+PwimEzZO
CZY3ajOi97+7fs+vGhLDLCiWXCJJLpUbwgGpauTst73pbWtX0rqWg35FprpH20D+
fPwMD4jyFQIDAQABo0swSTAoBgNVHREEITAfgh1wYXNzd29yZC1kZXYuaXRzLmNh
cmxldG9uLmVkdTAdBgNVHQ4EFgQURqzGbS9CCSaH88PtiOTT7qzkWs4wDQYJKoZI
hvcNAQELBQADggGBAGL4bkLO2LmXKnhbqeVmAzd0GXlGv42Ksmg756e9hJU+kFEY
0xOshirngZXSQYsn9TtBZbj+G1iZulBzj/cT3xU7cxKrZJM36nnUnqBOOY2iUzMQ
z+UT2ro/DEyXpO1GEg7n6VGbas+Lg9KMVgJG6ioGaS2MFqr8GdJZS5WmV7K7Zuyg
U1ML2ttYJcjubMsZ+M1V3jnX4ziNjwJ/1Z8ZSJboFVpTCUcM0BSSJS/oVyOUaksv
2dlpdDI7aw029rRviR6sDFSJ6v5QqCJUPjq2uRWMdKIiLv6IyplebEC1PY7pMUwm
0YOwY97TwnMulU5fHATB1zl3lqRLad97XsRD+OhUpzRVA7QXnVOnOi89coQaxXr1
6X2p1PRQ8vn+hcdGJavdTWiIdLotoPOkuHbnHK+z8NIKpDmV4kR6dR+Mm0aiV+ua
PtTXAnQbstIPA00ptqBZnH3KCKQbxQJDgCVbEUABvF+x4rSrJ4n3KPJRQU+QKR83
VCP70/US1XWC2iqUhQ==
-----END CERTIFICATE-----
