{{ ansible_managed }}

-----BEGIN CERTIFICATE-----
MIIELDCCApSgAwIBAgIUIP1eTtqlIMm2kwsoeOqe1SNNOg4wDQYJKoZIhvcNAQEL
BQAwKTEnMCUGA1UEAxMecGFzc3dvcmQtcHJvZC5pdHMuY2FybGV0b24uZWR1MB4X
DTIyMTAwNDIxMTUyOVoXDTMyMTAwMTIxMTUyOVowKTEnMCUGA1UEAxMecGFzc3dv
cmQtcHJvZC5pdHMuY2FybGV0b24uZWR1MIIBojANBgkqhkiG9w0BAQEFAAOCAY8A
MIIBigKCAYEAsfnvj4SiG/bI18PX04YVMEsp57UVviH5wCA/vgT0to+LJpwp4AZO
+BwlxKpzU9us+ieTqGoh8r8Isd+Px2dzLkEPB9cqJ3mZ7+FYemh4LVQdAWRU6St2
hbi8A9v6viDdkM9eiH0/PL8cAhHqK+jjAFarjvcV2qbiRqNhxZ/IdRg9kIdokgfh
c0w/KOTxSCPim3jbTHd07uXsUE0zOEwd1yICeA8wOHrGglrnagJgIB40jMNGPmPZ
mWJh+TEr3wgzFn+A/Uc0/PYKcc40j38RbQg1W9Zz0KaE2Zu0RBk52FiE08bcc6Ty
24KUIvLiO5KNDrc4W2FmhzhM/pZX9Wd0ishuB5xnYbJOSEuMVKy9TJ7vQtfwVdd+
LbAObxdWSHPZPmPR7HI84lIVhXXNW21Z3Lb6LUHi6ZlU3+UMzLBbhmKgDZlpdumf
2prdPf4oQXGC2zLhYuheqe/JKkgfiCa1KLEJbWw0Spo0U4ONtUVmMjoDgaJztrsz
6JqygRP3ZgtxAgMBAAGjTDBKMCkGA1UdEQQiMCCCHnBhc3N3b3JkLXByb2QuaXRz
LmNhcmxldG9uLmVkdTAdBgNVHQ4EFgQUCzefzFCk7osFTMH0M47Lg+VfMoIwDQYJ
KoZIhvcNAQELBQADggGBAGw3uxlnttvYq4i6wtOYNSSfPLeszV2g2ngO7nH50YZX
LtVSjTkWfASg70MucPhS1fDWeNo/SDApucK3XFVNNtvQBF+P160AF0JyKILpffj4
pnYCaWFOhrWqBmM55agbg6zQssDdPnQrHK+xt/aRmY5b53xHYEZQ2HfP3mbJAZeT
PeTTgBgQeC7cxfBEPEtU77ekzU3divdxmEHt2RTIXstrOvcA4Km8mvQwrNt/E4/c
/dl5v6UERHbPWDMBTApEPOj5V/BXj97Coyo28diRrCCDax0O3WAaVF/fv/Pgx3fw
E50jjpIEbBrHT2i7CaJG2oaFmmRFKn4xL5X+O2B+fgfk1wA+Q+pBPfUAKOMugy62
iWi93V6a6HRKlH+QHfcXxg3DFuwnE1/9AvhypHACkGLuPa0jQGrGeCpOeHSS+TWV
p9hFwRaa9CnorsiKM35IHWWFLsPpA5Uxo4NyEocIuJl+ym0gvn+Wm5tNJZaQk4jV
W/mVGjQAVojtkR9qZ1nzjA==
-----END CERTIFICATE-----
