{{ ansible_managed }}

-----BEGIN CERTIFICATE-----
MIIELDCCApSgAwIBAgIUQmplDv9oVkm/fT2dnGttKyvQSlowDQYJKoZIhvcNAQEL
BQAwKTEnMCUGA1UEAxMecGFzc3dvcmQtcHJvZC5pdHMuY2FybGV0b24uZWR1MB4X
DTIyMTAwNDIxMTUyOVoXDTMyMTAwMTIxMTUyOVowKTEnMCUGA1UEAxMecGFzc3dv
cmQtcHJvZC5pdHMuY2FybGV0b24uZWR1MIIBojANBgkqhkiG9w0BAQEFAAOCAY8A
MIIBigKCAYEA7zPnKZbksqr0TMdK6vlr2E3J4nJokNbBr2o4zkXwynZ2Zi6kmsVG
eLMLgQwNRHGOOd6SnzeTQa2HpyvAUoc9++4ObYJQQKGJvnHRt5TqlEn9Lk8CTiDx
HTnaeU0uYd5uRLGoInZN0YNjI6YkGLoRBaNJIB8OD9A2yh59IaYZG2PLsCKn9lRk
gfKTdsItVGGIUMQD2ROZA9cAXYWThKzzWARgBBx2a9BYuQjO+oS/WJNxv5o4bB4h
KH4PX51V3EbwgiDl9udtdQVqbkFV1wH49J6PcBHVe/ScJXlmL3FV7o/4sQUG/SR5
EUIp5qrZz0LZsOVdbQjKdRouJ/dfmXqDZu9ZfTChZ/eHvGvK9zrs5y655dhYyYVr
QAKnKam1QI2szV+gQJgGXNaAtZNKu51ha/41+perGRVqnSIhRlXrouFjzbcfneIe
uXnNHw59EJ8H5XdSuVCZacVBxWGZfkr2xdkgucL1La6dc3+5l6/w2XOhQfKBsi7O
G0K2Mgk9f4C/AgMBAAGjTDBKMCkGA1UdEQQiMCCCHnBhc3N3b3JkLXByb2QuaXRz
LmNhcmxldG9uLmVkdTAdBgNVHQ4EFgQU20TueVimtaRSNfE2yryLChvV+g8wDQYJ
KoZIhvcNAQELBQADggGBADTJzSBAuNDB40N4ahjEEazQ6MAwlz1P4S39H21cOqS2
BwdwzeqB+BlQNNqgwXb8BVkwq/pdN0IMOHxUIPColKfi/27si7v8OaMlSVBdPzI0
X62Ykv7ZrUzOfTVQUl2HTbXP8oWUxTWmjePZ6+9oC7Ggo9nA6B6tDYfBuHsoQP+v
xz/xFromlHlrnnKNZ0LeoAMUOoIVUQSTflU4rdchLbQ0NWKfeJUinYPuMgZDc49M
qvRK2UF2Wfe9t4ovJgHVBtnTfJa+vjj0KnF0zqnZXfmMaocaKDUV/6xSQkRj5cqr
uIIkVDFlaHB3LUWMDXFJnkSMDFCwsvv8SptfF1yzXzT5GB0xDBna8T0N2j9ayd3O
8vGPOBLfeD44bRqfvvq1/nK42NcYpeWvJH3enZiYSPkMxASuU6PepvPzrAlr43ww
28GvLpnD98dWqrWqSNv0GtyeE8AtGBV1Q8l1urVkQWuLAxUTdVoTt22PlIuHWOEY
NDgnb1077F7S0qbosLSNPQ==
-----END CERTIFICATE-----
