{{ ansible_managed }}

-----BEGIN CERTIFICATE-----
MIIEKTCCApGgAwIBAgIUUqE1nQF77jlEi55WeA71ZERMFDowDQYJKoZIhvcNAQEL
BQAwKDEmMCQGA1UEAxMdcGFzc3dvcmQtdWF0Lml0cy5jYXJsZXRvbi5lZHUwHhcN
MjIwOTA2MTcxMjI2WhcNMzIwOTAzMTcxMjI2WjAoMSYwJAYDVQQDEx1wYXNzd29y
ZC11YXQuaXRzLmNhcmxldG9uLmVkdTCCAaIwDQYJKoZIhvcNAQEBBQADggGPADCC
AYoCggGBAMZ36aml04a55XsSQ3RVEowFdLk+wuHIOuw4td3FqBBhdIyoac/+Hpfq
ZRHES1s/FXS91PP+sBXlT0LC2UkbzF7aBDXwF4L1c9s9bI22ldQkMHucr1gno6KW
mRu+4p8r+HJV96d7fsih2MkUpYT5QJasIUrl8BB6Rq6+DwnAp0zZyAW4/mvxIr8V
UNIcm8MNK5ppk1G5GQNzygCYikUPbTb5jcuFh2k5boFGf3MNVDDfw68PRwufcK3B
wYRwiEpmAcQYelKFT52SSn3/IcqbtCj6Ih25RrIT78dq4mf5XvMpwlfVQ0I8WGO4
UexjOW85s5AAEkb6EAwmNFTzRAZum6odz4deImEekWDpkePnjPT0Wi9HXNyEnzwj
nqPIl7+gBHPBS4gUhmrkpooHCOpuDkThfoCGqislJOVfL5xoYkIBY1btW+l3mCpI
aPPYRyrVSOEUj0lNcCWKv5F9zyrAHCQHd7aXYpt72ABGq3Rp4RT7+lR0gfjDUbnk
vmKSsG7DzwIDAQABo0swSTAoBgNVHREEITAfgh1wYXNzd29yZC11YXQuaXRzLmNh
cmxldG9uLmVkdTAdBgNVHQ4EFgQUDv+EVSFIBD/XtN/AK0zftetEjPkwDQYJKoZI
hvcNAQELBQADggGBAFE8zHRjdRe8u9Z4wrB8QyiOftxudp6iUaKDKTi3cAcGpW5a
HONQrXGQ9xbut2FAsfm4/FtZGCRgUnK4NyOMXUHLX7MRN+ypzTpA9t3ozsZ1eU+6
N77wDpXJ7k0RoS4CbC1CkcLKrLx6mJo6iDvbXAUIjK/pZP0jVAmllIPNf9MXT0At
+x+RfbYi6XCHiNd5T7l8GWVo3xUHUSNZhNJopfOzXndHSjcwvQYfLEG76O31NALb
okr+15rIRQfr2wNnj6y9HO4aNr3CMSjJsQZtcPPTONM1Abn5tBF6adNtiMyfnArW
tRLcralGvB5i1UftPqWA4XBR/fxFy3ua0x5ZaMtxVR8SGUJLyPJ0c+KYXIZlkkG1
G3CA0Z44oObuGbM0B1uHqyWIjKeKFz5BCPhmFaBaNR15ulrReEY/rCAYOgSjJadL
2OVlfx5lDAHCx77805ZHUot1BaUIAZmrL2UiNQIcH7wRzEKdMozhxQdj4sT5fo8p
KiDonI7XB2VSOloi2A==
-----END CERTIFICATE-----
