{{ ansible_managed }}

-----BEGIN CERTIFICATE-----
MIIEKTCCApGgAwIBAgIUJPgLwBWdIVZbdQB3rs2dfx04ybowDQYJKoZIhvcNAQEL
BQAwKDEmMCQGA1UEAxMdcGFzc3dvcmQtdWF0Lml0cy5jYXJsZXRvbi5lZHUwHhcN
MjIwOTA2MTcxMjI3WhcNMzIwOTAzMTcxMjI3WjAoMSYwJAYDVQQDEx1wYXNzd29y
ZC11YXQuaXRzLmNhcmxldG9uLmVkdTCCAaIwDQYJKoZIhvcNAQEBBQADggGPADCC
AYoCggGBALKRMlWvumTEr1yHypAgqq9NE0WFZk1vBF9EbZtXNwZ+ud0pJgeAVyxm
pKGNRDRM4IAUntMlvS3P2Bj5LDr8UQjWiVHcUCU6IuWtglOMQXU3nXeJUrdwpoRy
D45kO3cN4Je1IvReETAZlSA32NJCItyHGNYncvjsQ4H9BCeO7bHhZGicIhKwm5Ut
kaOJuf9meyNwQPT5hv1f3dz2xoIof0iep6QL6K0w78ZEWsh69ge8uXIhiBSjhW0p
xHdg3aAIWpxC27na6TuX1aVon7EOpsGzcJimTIj6j+PrWN8tSHxcZw/cygiG//8l
0nOtXAGmbImZ6o+dMFKmFIsMZ4W8nU41dnDiloUxw8bZxwNacy4+KrewrXe2O/Um
gcdm3q0S8qIGAjjfVp02GZaAzDk2Is6ounChQiRPJW3g3WY8p24etXCeN27XzkrM
sbQm7RJ7FXX2x/VJGL8tqzgkBqcqdtR6DVVk7+RgOjhSSpV5ZR9MVJPfx7Ar131v
4qy4Pl1BlQIDAQABo0swSTAoBgNVHREEITAfgh1wYXNzd29yZC11YXQuaXRzLmNh
cmxldG9uLmVkdTAdBgNVHQ4EFgQU154MZD5YhN7Lxvb0EhjBfitpPuEwDQYJKoZI
hvcNAQELBQADggGBAFegW3EBRuoLKyjvjqoj6Fb3SGCJOpuTQqggWoh0wJTblxOL
e8EfzvUoe9sIIv6oGiEr3jv0BchaAbK/NrSflazhWFrx0bMUFIUvUehbMhhPXl5V
MgFf5slBGXWP2uN/kXakFQFKNi28tnjfO+o94oFvjf+F0dhp5JXIIuwZiLvXihZr
isBwzVsb7n1/RZWWh+HTmnDW1GhS4WhNeT+J4V8wOlw+IxIFkQ6y2OKaAZ5Jz8r1
VS3bI5hZSi2q7b2bFw2uzsBZT84zWxXklWE7/PLMvQHUFqcuczWdy5xjgbYKqSBN
MUhs3SRNXckVF9xk2t14sTJiMmffQy5V+FBTCwx52ZRZIcA2Rlj2RhUq/Vaul3GP
49tqObhR10vNSRdr3t03EJQUNAHqxPD4/9f5h7UyrSupgkrB877rv3WuMFe4RcDX
wk5sWCYTA9pOoakWJbuldM7o5ns0P8X9LovihoemjLScNBnyzkQCwIqEslc6WGvV
jiPfiD0emrHgBJQVcQ==
-----END CERTIFICATE-----
