{{ ansible_managed }}

Validity
    Not Before: Aug 21 00:00:00 2023 GMT
    Not After : Aug 20 23:59:59 2024 GMT
Subject: C=US, ST=Minnesota, O=Carleton College, CN=password.carleton.edu
    X509v3 Subject Alternative Name: 
        DNS:password.carleton.edu,
        DNS:password-dev.its.carleton.edu,
        DNS:password-prod.its.carleton.edu,
        DNS:password-uat.its.carleton.edu

-----BEGIN CERTIFICATE-----
MIIHCDCCBfCgAwIBAgIRALq50bj422oRc3LhNogSpOMwDQYJKoZIhvcNAQELBQAw
djELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAk1JMRIwEAYDVQQHEwlBbm4gQXJib3Ix
EjAQBgNVBAoTCUludGVybmV0MjERMA8GA1UECxMISW5Db21tb24xHzAdBgNVBAMT
FkluQ29tbW9uIFJTQSBTZXJ2ZXIgQ0EwHhcNMjMwODIxMDAwMDAwWhcNMjQwODIw
MjM1OTU5WjBcMQswCQYDVQQGEwJVUzESMBAGA1UECBMJTWlubmVzb3RhMRkwFwYD
VQQKExBDYXJsZXRvbiBDb2xsZWdlMR4wHAYDVQQDExVwYXNzd29yZC5jYXJsZXRv
bi5lZHUwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDJi+xcfIcYOwD4
BOANiv270nmjeGFpIpOrW9bTRPRLQm0tF8Cv5xQysE8OVj5JqRZrLuod1bujcTWF
eu7ApX1yT9B3MeRnlFvkQlDcBeKPajmJDuCsRVfuR6WlUHL6ceBb1houLfzmwg1r
gIuNqcFD4k7TFgTbKVNeFkCuN5QHyrh4hrGM4OXo9ywPfyiAUypVEKj1lqkjcTja
L39172/Hq1xo6919FDZSjEbthp7ydHlVNXDfiZepJkqrLgvIwFbKitgLSnAgvO75
24HVUwx4fFLZQPrzTDMXvv8V2idOcKhu8+vW9ZjlUPX6tVLraOURSs3PW+2CxDyf
wSRQamyFAgMBAAGjggOpMIIDpTAfBgNVHSMEGDAWgBQeBaN3j2yW4luHS6a0hqxx
AAznODAdBgNVHQ4EFgQURY89VsES+0ogQGwpoqcCrrZjr08wDgYDVR0PAQH/BAQD
AgWgMAwGA1UdEwEB/wQCMAAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMC
MGcGA1UdIARgMF4wUgYMKwYBBAGuIwEEAwEBMEIwQAYIKwYBBQUHAgEWNGh0dHBz
Oi8vd3d3LmluY29tbW9uLm9yZy9jZXJ0L3JlcG9zaXRvcnkvY3BzX3NzbC5wZGYw
CAYGZ4EMAQICMEQGA1UdHwQ9MDswOaA3oDWGM2h0dHA6Ly9jcmwuaW5jb21tb24t
cnNhLm9yZy9JbkNvbW1vblJTQVNlcnZlckNBLmNybDB1BggrBgEFBQcBAQRpMGcw
PgYIKwYBBQUHMAKGMmh0dHA6Ly9jcnQudXNlcnRydXN0LmNvbS9JbkNvbW1vblJT
QVNlcnZlckNBXzIuY3J0MCUGCCsGAQUFBzABhhlodHRwOi8vb2NzcC51c2VydHJ1
c3QuY29tMIIBfgYKKwYBBAHWeQIEAgSCAW4EggFqAWgAdgB2/4g/Crb7lVHCYcz1
h7o0tKTNuyncaEIKn+ZnTFo6dAAAAYoYcPA1AAAEAwBHMEUCIQDh9OrRK7NG6uCH
VXOLzrfsCzwkDyzkAWzaS/t6dLVInQIgH6OoSTA2OZyB6eM8qAC5O8sVkv4znX9W
oQaVvwsDZyYAdwDatr9rP7W2Ip+bwrtca+hwkXFsu1GEhTS9pD0wSNf7qwAAAYoY
cPCMAAAEAwBIMEYCIQCoyPNqKd/gqyY1nVQGXmszapqaNv0OvEagZJn8cCuurwIh
AKP8COlIn52VJsiyOxYI+AjE+h14UyIsE+l2HdC9r4ehAHUA7s3QZNXbGs7FXLed
tM0TojKHRny87N7DUUhZRnEftZsAAAGKGHDwoQAABAMARjBEAiAa/bVcr2HjQnLe
tFtLavcnPTYnwqAR+qmfaoUDtMivVQIgC+cfsQ/EZj1mjqQd3rKLeFTO1fQCUZ6b
MKvu7gvwmp8wfgYDVR0RBHcwdYIVcGFzc3dvcmQuY2FybGV0b24uZWR1gh1wYXNz
d29yZC1kZXYuaXRzLmNhcmxldG9uLmVkdYIecGFzc3dvcmQtcHJvZC5pdHMuY2Fy
bGV0b24uZWR1gh1wYXNzd29yZC11YXQuaXRzLmNhcmxldG9uLmVkdTANBgkqhkiG
9w0BAQsFAAOCAQEAP63gNjozpAzjE0we8v10hWPlOXEasjUltEU0a+dpT5VRWxzJ
l2JYasqWMHaJeXqrJmaW8VK41o8yS8FdHz/QaJOumC+ittUv+l555cLUT6KgizoV
3kXjApGGzLeyIqPQwo/+TsoyPyXNIC9ZzpT65Kb94oyP5GJucNQv3aUYKbDrM3kM
A9TDbSDadTvq/PGI6KlhgYMqYDvJDLXQPCD5+pexiekb6J4hqHgUdffrugcpLCf5
wc76xRI9A6KAiHozpNN+X3PzzWQwxIzaJr6L0Zbwv3OTIqx73QFU39lImqWl0bnU
eTAMPvxWUbk+jcJQeoi3NEpUjdihJvfT6NSrBw==
-----END CERTIFICATE-----
