{{ ansible_managed }}

-----BEGIN CERTIFICATE REQUEST-----
MIICrzCCAZcCAQAwajELMAkGA1UEBhMCVVMxCzAJBgNVBAgMAk1OMRMwEQYDVQQH
DApOb3J0aGZpZWxkMRkwFwYDVQQKDBBDYXJsZXRvbiBDb2xsZWdlMR4wHAYDVQQD
DBVwYXNzd29yZC5jYXJsZXRvbi5lZHUwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAw
ggEKAoIBAQDJi+xcfIcYOwD4BOANiv270nmjeGFpIpOrW9bTRPRLQm0tF8Cv5xQy
sE8OVj5JqRZrLuod1bujcTWFeu7ApX1yT9B3MeRnlFvkQlDcBeKPajmJDuCsRVfu
R6WlUHL6ceBb1houLfzmwg1rgIuNqcFD4k7TFgTbKVNeFkCuN5QHyrh4hrGM4OXo
9ywPfyiAUypVEKj1lqkjcTjaL39172/Hq1xo6919FDZSjEbthp7ydHlVNXDfiZep
JkqrLgvIwFbKitgLSnAgvO7524HVUwx4fFLZQPrzTDMXvv8V2idOcKhu8+vW9Zjl
UPX6tVLraOURSs3PW+2CxDyfwSRQamyFAgMBAAGgADANBgkqhkiG9w0BAQsFAAOC
AQEAj00iQl0jY/5rrLtO7e/C3OPbp63jclQdKAEpokWP/TGM1aXFBSFJx6xo7r9G
zHYoeXJz54Xwh599COopfbhz+A4YrB5nCxabQClEss/W9gz/JjyzOMnAu1tdkA5W
qf4tAPdw9WMV/lAErF2bXh4BT3kzAVpmlld+ii4BA/Kk1HRjvGzF+BJgN0L7qGCt
fH85/lSK4L+3tT1rrjBlAiH3aBK3+CowysARZ4N1fl7dxzB0sJUd4i+3xSKgdHvE
i6WHgNsgPBC3C0xoBSNnDhVedEc9qXyC3PInLEHMVtjRGqFVyV18AIPOlK8jrjzd
CU72cnP8rmiE65vl2UyhT5zhPA==
-----END CERTIFICATE REQUEST-----
